# Stripe
STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_QUARTERLY=
STRIPE_PRICE_ID_YEARLY=
SITE_URL=https://your-domain.com
STRIPE_WEBHOOK_SECRET=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=support@justincaseimdead.com
SUPPORT_TO_EMAIL=justincaseimdead@gmail.com

# Database
DATABASE_URL=
